src/main/webapp/WEB-INF/pscAPIServices.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://pscglobalsolutions/API/services/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="pscAPIServices"
	targetNamespace="http://pscglobalsolutions/API/services/wsdl"
	xmlns:regd="http://pscApp/services/types">
	<wsdl:types>
		<xsd:schema targetNamespace="http://pscApp/services/types">
			<xsd:element name="UserInfoRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="emailAddress" type="xsd:string" />
						<xsd:element name="password" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="UserInfo">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="emailAddress" type="xsd:string" />
						<xsd:element name="password" type="xsd:string" />
						<xsd:element name="userName" type="xsd:string" />
						<xsd:element name="firstName" type="xsd:string" />
						<xsd:element name="lastName" type="xsd:string" />
						<xsd:element name="accountStatus" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
				<xsd:complexType  name="ContactInfo">
					<xsd:sequence>
						<xsd:element name="contactFirstName" type="xsd:string" />
						<xsd:element name="contactLastName" type="xsd:string" />
						<xsd:element name="contactEmailAddress" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			<xsd:element name="ContactInfoResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" name="result" nillable="true" type="regd:ContactInfo" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="pscGetContactsRequest">
		<wsdl:part element="regd:UserInfoRequest" name="userInfo" />
	</wsdl:message>
	<wsdl:message name="pscGetContactsResponse">
		<wsdl:part element="regd:ContactInfoResponse" name="out" />
	</wsdl:message>
	<wsdl:message name="pscLoginViaAppRequest">
		<wsdl:part element="regd:UserInfoRequest" name="userInfo2" />
	</wsdl:message>
	<wsdl:message name="pscLoginViaAppResponse">
		<wsdl:part element="regd:UserInfo" name="res" />
	</wsdl:message>
	<wsdl:portType name="PSCAPIService">
		<wsdl:operation name="getContacts">
			<wsdl:input message="tns:pscGetContactsRequest" />
			<wsdl:output message="tns:pscGetContactsResponse" />
		</wsdl:operation>
		<wsdl:operation name="loginViaApp">
			<wsdl:input message="tns:pscLoginViaAppRequest" />
			<wsdl:output message="tns:pscLoginViaAppResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PSCSOAPBinding" type="tns:PSCAPIService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getContacts">
			<soap:operation
				soapAction="http://pscglobalsolutions/API/services/wsdl#getContacts" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="loginViaApp">
			<soap:operation
				soapAction="http://pscglobalsolutions/API/services/wsdl#loginViaApp" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PSCAPIWS">
		<wsdl:port binding="tns:PSCSOAPBinding" name="PSCSOAPPort">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>